svg:hover {
  fill: rgb(50, 180, 236);
}

a:hover {
  color: rgb(50, 180, 236);
  cursor: pointer;
}

.rotate {
  transition: transform 0.5s;
}
.rotate:hover {
  transform: rotate(360deg);
}

.drapeaux {
  transition: all 3s;
}
.drapeaux:hover {
  transform: perspective(25px) rotateX(20deg);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.bouton {
  border-radius: 30px;
  background-color: rgb(50, 180, 236);
  border-color: transparent;
  color: black;
  width: 204px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}
.bouton:hover {
  transform: scale(1.1);
}

.espace_bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

#profil {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#profil p {
  margin: 10px;
}

#photo_profil {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.coordonnees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 250px;
  padding: 10px;
  flex: 1;
}

.case {
  display: flex;
  min-height: 400px;
}

.section {
  flex: 1;
  text-align: center;
}

.titre_blanc {
  padding-bottom: 10px;
  margin: 20px;
  text-align: left;
  border-bottom: 2px solid white;
}

.titre_noir {
  padding-bottom: 10px;
  margin: 20px;
  text-align: left;
  border-bottom: 2px solid black;
}

.texte {
  background-color: rgb(52, 60, 118);
  color: white;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  padding: 10px;
  flex: 1;
}

.gauche {
  flex-direction: column;
  padding-right: 20px;
}

.date {
  padding-top: 20px;
}

.droite {
  border-left: 2px solid white;
  text-align: left;
  padding-left: 20px;
}

.images {
  background-image: url("../images/blue.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.align {
  display: flex;
}

.image {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.contact {
  background-color: #ffffff;
  background: repeating-linear-gradient(45deg, rgb(223, 223, 224), rgb(223, 223, 224) 5px, white 5px, white 25px);
  color: black;
}

#contact {
  margin-bottom: 20px;
}

.contact2 {
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

header {
  background-color: rgb(52, 60, 118);
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding-bottom: 20px;
}
header nav ul {
  display: flex;
  text-transform: uppercase;
  gap: 20px;
}
header nav a {
  color: white;
}
header li {
  list-style: none;
}

#menuToggle input {
  opacity: 0;
}

footer {
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icones {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}
.icones svg {
  width: 30px;
  margin-left: 10px;
}

@media screen and (max-width: 716px) {
  .coordonnees {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    flex-direction: column;
    padding: 10px;
    flex: 1;
  }
  section.case {
    flex-direction: column;
    height: 100%;
  }
  ul {
    flex-direction: column;
  }
  header {
    justify-content: left !important;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: rgb(50, 180, 236);
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
