html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}
header {
  background-color: rgb(52, 60, 118);
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
header nav ul {
  display: flex;
  text-transform: uppercase;
  gap: 20px;
  
}
header li {
  list-style: none;

}

header nav a{
  color: white
}

#profil {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#donilde {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0%;
  
}
.coordonnees {
  display: flex;
  justify-content: space-between;
  margin-right: 250px;
  margin-left: 250px;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
}

svg:hover{
  fill: rgb(82, 159, 222);
}

a:hover {
  color: grey;
  cursor: pointer;
}


.case {
  display: flex;
  height: 550px;
 
  
}
.section {
  flex: 1;
  text-align: center;
  height: 100%;
}

.titre_blanc{
  padding-bottom: 10px ;
  margin: 20px;
  text-align: left;
  border-bottom: 2px solid white;
}

.titre_noir{
  padding-bottom: 10px ;
  margin: 20px;
  text-align: left;
  border-bottom: 2px solid black;
}

.texte {
  background-color: rgb(52, 60, 118);
  color: white;
  justify-content: center;
  align-items: center;
  
}
  
  .box {
    display: flex;
    padding: 10px;
    flex: 1;
  }

  .gauche {
    
    flex-direction: column;
    padding-right: 20px;
  }

  .date{
    padding-top: 20px;
  }


  .droite {
    border-left: 2px solid white;
    text-align: left;
    padding-left: 20px;
  }


.images {
  background-image: url("/images/blue.jpg");
  background-size: cover;
  background-attachment: fixed;
  
  
}

.align {
  display: flex;
}


.image{
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  
}

.rotate{
  transition: transform 0.5s;
}

.rotate:hover {
  transform: rotate(360deg);
}

.drapeaux{
  transition: all 3s;
}
.drapeaux:hover {
  transform: perspective(25px) rotateX(20deg);
}

.competences1 {
  background-color: rgrgb(52, 60, 118);
  color: #464545;
  list-style: none;
  color: white;
  
}

.contact {
  background-color: #ffffff;
  background: repeating-linear-gradient( 45deg, rgb(223, 223, 224), rgb(223, 223, 224) 5px, white 5px, white 25px );
  color: black;


  
}


.bouton {
    border-radius: 30px;
    background-color: rgb(52, 60, 118) ;
    border: 2px solid rgb(52, 60, 118);
    color: white;
    width: 204px;
    height: 50px;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
}

.bouton:hover{
  transform: scale(1.1);
}

.espace_bouton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
  
}



footer {
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.icones {
  display: flex;
  margin-right: 50px;
}

.icones svg {
  width: 30px;
  margin-left: 10px;
}



@media screen and (max-width: 600px) {
  .case {
    flex-direction: column;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
  }

  #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}