$white: white;
$color_1: #464545;
$black: black;
$color_hover: rgb(50, 180, 236);



$background-main_color: rgb(11, 18, 65);
$background-white: white;
$background-color_1: #ffffff;
$background-black: black;
$no_border: transparent;
$background-color_2: #cdcdcd;
$background-color_3: #ededed;
$background-color_hover: rgb(50, 180, 236);
$background-header: rgb(104, 97, 155);