.bouton {
	border-radius: 30px;
	background-color: $background-color_hover;
	border-color: $no_border;
	color: $black;
	width: 204px;
	height: 50px;
	cursor: pointer;
	transition: transform 0.3s;
	&:hover {
		transform: scale(1.1);
	}
}
.espace_bouton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}